name: Validate with Code Style

on:
  push:
  pull_request:
  schedule:
    - cron: "0 0 * * *"

permissions:
  contents: read

jobs:
  validate-ruff:
    name: Code style and linting
    runs-on: ubuntu-latest
    steps:
      - name: Checkout the repository
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: "3.13"

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install ruff

      - name: Lint with Ruff
        run: |
          ruff check --output-format=github .

      - name: Check code formatting with Ruff
        run: |
          ruff format --check .

  validate-mypy:
    name: Type checking
    runs-on: ubuntu-latest
    steps:
      - name: Checkout the repository
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: "3.13"

      - name: Install dependencies for mypy
        run: |
          python -m pip install --upgrade pip
          pip install -e .[dev]

      - name: Type check with mypy
        run: |
          mypy --show-error-codes --pretty PySrDaliGateway
